
<h1>Potto | Criar Evento</h1>

<form  class="prevent-default">
    <label>
        Nome
        <input type="text" name="title" id="title" placeholder="Nome do evento" value="" required><br>
    </label>
    <label>
        URL potto.com.br/event/
        <input type="text" name="slug" id="slug"><br>
    </label>
    <label>
        Descrição
        <input type="text" name="description" id="description"><br>
    </label>
    <label>
        Onde vai acontecer
        <input type="text" name="address" id="address"><br>
    </label>
    <input type="submit">
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/index.js"></script>
<script>
$('#title').on('change', function(){
    $('#slug').val( slugify($('#title').val()))
})

$(document).on("submit", "form", async function(e){
    e.preventDefault();
    const event = await postEvent();

    if (event != false) {
        window.location.href = '/event/' + event.slug;
    }

    return  false;
});
</script>
