<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Potto</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <a href="/account" title="Voltar para Meu Painel"><img src="/logo.svg" alt="Potto" class="potto-logo"></a>

    <main>

        <h2>Potto é ultima plataforma que você vai precisar para seu evento</h2>

        <center>
            <a href="/signin" class="potto-btn potto-btn--primary">Entrar</a> <a href="/signup" class="potto-btn potto-btn--secondary">Criar conta</a>
        </center>
    </main>

    <footer>
        <p><small>2019 © Potto</small></p>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/index.js"></script>

</body>

</html>

