<h1>Potto | Criar conta</h1>

<form onsubmit="register(event)">
    <input type="email" name="email" id="email" placeholder="E-mail" value="teste@teste.com" required>
    <input type="password" name="password" id="password" placeholder="Senha" value="12345678" required>
    <input type="submit">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="index.js"></script>
