<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meu Painel | Potto</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <a href="/account" title="Voltar para Meu Painel"><img src="/logo.svg" alt="Potto" class="potto-logo"></a>

    <main>

        <a href="/account/events/create" class="potto-btn potto-btn--primary" style="float: right;">Criar evento</a>

        <h1>Meu Painel</h1>
        <div style="
            display: flex;
            align-items: flex-end;
            justify-content: stretch;
        ">

            <a style="flex: 1; padding: 3rem; text-align: center; display: block" href="/account/events">
                <img src="/ico-eventos.svg" alt="" width="100px">
                <br>Meus eventos
            </a>
            <a style="flex: 1; padding: 3rem; text-align: center; display: block" href="/account/tickets">
                <img src="/ico-ingressos.svg" alt="" width="100px" style="padding-bottom: .5rem;">
                <br>Meus ingressos
            </a>
            <!--a style="flex: 1; padding: 3rem; text-align: center; display: block" href="/account/profile">
                <img src="/ico-conta.svg" alt="" width="100px">
                Minha conta
            </a-->

        </div>

        <hr>
        <center>
        <h3>Avançado</h3>
            <a href="/account/devices">Ver dispositivos</a> | 
            <a href="/account/invites">Ver invites</a> | 
            <a href="/account/checkins">Ver checkins</a>
</center>
    </main>

    <footer>
        <small><a href="javascript:;" onclick="endSession()">Sair</a></small>
        <p><small>2019 © Potto</small></p>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/index.js"></script>

</body>

</html>