<h1>Potto | Meu Painel</h1>


<a href="/account/events">Meus eventos</a>
<a href="/account/events/create">Criar evento</a>
<br>
<a href="/account/tickets">Meus tickets</a>
<br>
<br>
<br>
<a href="javascript:;" onclick="endSession()">Sair</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/index.js"></script>
